body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 3.25rem;
    font-weight: 200;
}

.header {
    margin-top: -35px;
    background-color: lightblue;
    margin-right: 50px;
    margin-left: 50px;
}

.weatherCard {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 5px;
    justify-content: center;
}

.leftDiv {
    padding-top: 10px;
    text-align: center;
    background-color: #e7e7e7;
    height: 250px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 250px;
    font-size: 30px;
}

.rightDiv {
    padding-top: 10px;
    text-align: center;
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 250px;
    width: 250px;
    font-size: 20px;
}

.container {
    background-color: rgb(255, 255, 255);
}

h4 {
    font-weight: 300;
}


@media only screen and (max-width: 400px) {
    h1 {
        font-size: 2.25rem;
        font-weight: 200;
    }
    
    .header{
        margin-top: -25px;
    }

    .header > h2 {
        font-size: 1.2rem;
    }

    button {
        margin-top: 5px;
    }

    img {
        width: 65px;
        height: 65px;
    }

    h4 {
        font-size: 1.2rem;
    }
    
  }